<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
        body {
            background-color: antiqueWhite;
            font-family: Georgia, "Times New Roman", Times, serif;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 100svh;
            margin: 0;
            padding: .5rem;
            box-sizing: border-box;
        }

        @media (prefers-color-scheme: dark) {
            body {
                background-color: #112;
                color: #ddd;
            }
        }

        main {
            max-width: 40rem;
            line-height: 1.5
        }

        @media screen and (width >= 50rem) {
            main {
                margin-left: 10%
            }
        }

        footer {
            font-style: italic;
            font-size: 0.8em;
            text-align: center;
            padding: 1rem 0;
        }

        a {
            color: inherit;
        }
    </style>
</head>

<body>
    <main>
        {{ content | safe }}
    </main>
    <footer>Unless otherwise noted, content on this site &copy; Peter Briggs is licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>. <a href="https://github.com/pwbriggs/pwbriggs.github.io">Website source</a>.</footer>
</body>

</html>
